.header__container, .header__nav, .header__link, .footer__button, .socials__link, .feature__box, .areas__meta, .clients__link, .modal__close, .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--bg-grey {
  background-color: #f5f4fa;
}

.section--bottom {
  padding-top: 0;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #000000;
}

.logo__part {
  color: #2196f3;
}

.button {
  background-color: #2196f3;
  border: transparent;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__page--active {
  position: relative;
  color: #2196f3;
}

.header__page--active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
}

.header__page:hover, .header__page:focus {
  color: #2196f3;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link + .header__link {
  margin-left: 50px;
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover .header__icon,
.header__link:focus .header__icon {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__side--end {
  width: calc(50% - 15px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__box + .footer__box {
  margin-left: 70px;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
  color: #ffffff;
}

.footer__title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
}

.footer__item {
  margin-bottom: 9px;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

.footer__link {
  margin-bottom: 9px;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--address {
  color: #ffffff;
}

.footer__link:hover:not(.footer__link--address), .footer__link:focus:not(.footer__link--address) {
  color: #2196f3;
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.footer__label {
  width: calc(100% - 210px);
}

.footer__field {
  padding: 15px;
  height: 50px;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__field::-webkit-input-placeholder {
  font-size: 16px;
  font: inherit;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__field:-ms-input-placeholder {
  font-size: 16px;
  font: inherit;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__field::-ms-input-placeholder {
  font-size: 16px;
  font: inherit;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__field::placeholder {
  font-size: 16px;
  font: inherit;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__field:focus-within {
  border-color: #ffffff;
  outline: none;
}

.footer__button {
  padding: 10px 28px;
  margin-left: 12px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  height: 44px;
  width: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border-radius: 100%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__link--dark {
  background: rgba(255, 255, 255, 0.1);
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: #ffffff;
}

.socials__icon--dark {
  fill: #ffffff;
}

.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__button {
  padding: 10px 32px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__item {
  width: calc((100% - 90px) / 4);
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__box {
  min-height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature__icon {
  height: 70px;
  width: 70px;
}

.feature__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}

.areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.areas__item {
  position: relative;
}

.areas__item + .areas__item {
  margin-left: 30px;
}

.areas__image {
  display: block;
}

.areas__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.areas__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  width: calc((100% - 90px) / 4);
  background-color: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item + .team__item {
  margin-left: 30px;
}

.team__box {
  padding: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
}

.team__profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__item {
  width: calc((100% - 150px) / 6);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  min-height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden > .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  cursor: pointer;
}

.modal__icon {
  width: 10px;
  height: 10px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: #2196f3;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal__row {
  margin-bottom: 10px;
}

.modal__row:nth-last-child(-n + 2) {
  margin-bottom: 20px;
}

.modal__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__button {
  padding: 10px 55px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field-group__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.field-group__box {
  position: relative;
}

.field-group__input {
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 38px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.field-group__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  height: 18px;
  width: 18px;
  fill: #212121;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__input:focus + .field-group__icon {
  fill: #2196f3;
}

.field-group__comment {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-group__comment::-webkit-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
}

.field-group__comment:-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
}

.field-group__comment::-ms-input-placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
}

.field-group__comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  font: inherit;
  color: rgba(117, 117, 117, 0.5);
}

.field-group__comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.checkbox {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__icon {
  background-origin: border-box;
  background-size: contain;
  background-color: #2196f3;
  border-color: transparent;
}

.checkbox__input:focus-visible + .checkbox__icon {
  border-color: #2196f3;
}

.checkbox__link {
  position: relative;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #2196f3;
}

.checkbox__link:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #2196f3;
}
/*# sourceMappingURL=main.css.map */