.areas{
    display: none;

    @media screen and (min-width: $desktop) {
        display: block;
    }
}

.areas__list {
    display: flex;
}

.areas__item {
    position: relative;

    & + &{
        margin-left: 30px;
    }
}
.areas__image {
    display: block;
}
.areas__meta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $areasColorBg;
}
.areas__subtitle {
    font-weight:700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $lightColorText;
}