.feature {
    display: flex;
}

.feature__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.feature__box {
    min-height: 120px;
    @extend %verticalCenter;
    justify-content: center;
    margin-bottom: 30px;
    background-color: $primaryColorBg;
    border-radius: 4px;
}

.feature__icon {
    height: 70px;
    width: 70px;
}

.feature__subtitle {
    margin-bottom: 10px;
    font-weight: $boldFontWeight;
    font-size: $primaryFontSize;
    line-height: 1.14;
    text-transform: uppercase;
    color: $secondaryColorText;
}