.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox__icon {
    display: inline-block;
    margin-right: 8px;

    width: 16px;
    height: 16px;

    border: 2px solid $secondaryColorText;
    border-radius: 2px;

    cursor: pointer;

    transition: background-color 250ms $primaryTransition;

    .checkbox__input:checked+& {
        background-origin: border-box;
        background-size: contain;
        background-color: $accentColor;
        border-color: transparent;
    }
    
    .checkbox__input:focus-visible+& {
        border-color: $accentColor;
    }
}
.checkbox__text{
  

    font-size: 12px;
    line-height: 1.16;

    @media screen and (max-width: 479px) {
        width: calc(100% - 24px);
    }
    @media screen and (min-width: $desktop) {
        font-size: 14px;
    }
}
.checkbox__link {
    position: relative;
    text-decoration-line: none;
    font-size: 12px;
    line-height: 1.16;

    color: $accentColor;

    @media screen and (min-width: $desktop) {
        font-size: 14px;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0;
    
        height: 1px;
        width: 100%;
    
        background-color: $accentColor;
    }
}

