.header {
  border-bottom: 1px solid $headBorderColor;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 60px;
}

.header__nav {
  display: none;

  @media screen and (min-width:$tablet){
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width:$desktop) {
    margin-left: 93px;
  }
}

.header__menu {
  display: flex;
}

.header__item {
  &+& {
    margin-left: 50px;
  }
}

.header__page {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $secondaryColorText;

  transition: color 250ms $primaryTransition;

  &--active {
    position: relative;
    color: $accentColor;
  }

  &--active::after {
    @media screen and (min-width:$tablet){
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $accentColor;
      border-radius: 2px;
    }
    
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header__contact {
  display: none;

  @media screen and (min-width:$tablet) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  @media screen and (min-width:$desktop) {
    flex-direction: row;
    margin-left: auto;
  }
}

.header__link {
  display: flex;
  align-items: center;
  
  
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primaryColorText;

  transition: color 250ms $primaryTransition;

  @media screen and (min-width:$desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
  &+& {
    margin-top: 10px;

    @media screen and (min-width:$desktop) {
      margin-left: 50px;
      margin-top: 0;
    }
  }

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.header__icon {
  
  margin-right: 8px;
  fill: currentColor;

  transition: fill 250ms $primaryTransition;

  @media screen and (min-width:$desktop) {
    margin-right: 10px;
  }

  &--email{
    width: 14px;
    height: 10px;

    @media screen and (min-width:$desktop){
      width: 16px;
      height: 12px;
    }
  }
  &--phone {
    width: 10px;
    height: 14px;

    @media screen and (min-width:$desktop) {
      height: 16px;
    }
  }
  .header__link:hover &,
  .header__link:focus & {
    fill: $accentColor;
  }
}